extends layout

block content
    .panel.panel-primary
        .panel-heading
            .panel-title 
                h4 Hi #{user.username} #{adminstring} 
                    a.signout(href='/signout') Sign out
        .panel-body
            form(class='form-horizontal', action='/reserve', method='POST')
                fieldset
                    legend Reserve your washing machine
                    .form-group
                        label.col-md-1.control-label Machine
                        .col-md-3
                            select.form-control(name='washer', required)
                                each val in washers
                                    option= val.location
                    .form-group
                        label.col-md-1.control-label Date
                        .col-md-3
                            input.form-control(type='date', name='date', required)
                    .form-group
                        label.col-md-1.control-label From
                        .col-md-3
                            input.form-control(type='time', name='from', required)
                    .form-group
                        label.col-md-1.control-label To
                        .col-md-3
                            input.form-control(type='time', name='to', required)
                    .form-group
                        .col-md-10.col-md-offset-1
                            button.btn.btn-primary(type='submit') Reserve
                        
            h3 Your reservations
            table.table.table-striped.table-hover
                thead
                    tr
                        th Machine
                        th Date
                        th From
                        th To
                        th Key
                tbody
                    each val in reservers
                        tr
                            td
                                a(href=val.machineId) #{val.machineName}
                            td= val.date
                            td= val.fromTime
                            td= val.toTime
                            td= val.reservationKey

            ul
                if user.admin
                    h5
                        a(href='/washer') Add Washing Machine
            #message
            if message
                i
                    h4.text-center.error-message #{message}